<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Minesweeper Toutpourrit</title>
	<script src="lib/angular.min.js"></script>
	<script src="js/mineSweep.js"></script>
</head>
<body>
	bla
	<span ng-app="minesweepApp">
		<span ng-controller="fieldCtrl" ng-click="change()">
			<input type="text" ng-model="$parent.score"/>
		</span>
		<span ng-controller="fieldCtrl" ng-click="change()">
			<input type="text" ng-model="$parent.score"/>
		</span>
		<span ng-controller="plusMinus">
			<input type="button" ng-click="inc()">INC</input>
			<input type="button" ng-click="dec()">DEC</input>
		</span>
	</span>
</body>
</html>